<%-include("partials/header")%>


<h1>database</h1>


<div class="container">
 	<%patients.forEach(function(patient){%>
		<div class="row">
				<div class="col-lg-3"><%=patient.appno%></div>
				<div class="col-lg-3"><%=patient.name%></div>
				<div class="col-lg-3"><%=patient.docname%></div>
				<div class="col-lg-3"><%=patient.created.toDateString()%></div>
				<div class="row">
				<div class="col-lg-4>
						<form action="/admin/database/<%=patient._id%>/done?_method=PUT" method="POST">
								<button>SUBMIT</button>
						</form>
				</div>
				<div class="col-lg-4">
						<form action="/admin/database/<%=patient._id%>?_method=DELETE" method="POST">
								<button>DELETE</button>
						</form>
				</div>
				<div class="col-lg-4">
						<a href="/admin/database/<%=patient._id%>/edit">EDIT</a>
				</div>
				</div>
		</div>		    
 	<%})%>
 	<button><a href="/admin/database/new">Create New Entry</a>
</div>


<%-include("partials/footer")%>