<%-include("partials/header")%>

<nav class="navbar navbar-dark bg-dark">
	<div class="container"><h3 class="h3">DataBase</h3></div>
</nav>
<div class="container" id="table">
		
 	<%patients.forEach(function(patient){%>
 			<div class="row justify-content-between">
				<div class="col-lg-3"><h3 class="details"><%=patient.appno%></h3></div>
				<div class="col-lg-3"><h3 class="details"><%=patient.name%></h3></div>
				<div class="col-lg-3"><h3 class="details"><%=patient.docname%></h3></div>
				<div class="col-lg-3"><h3 class="details"><%=patient.created.toDateString()%></h3></div>
				<hr>
				<form action="/admin/database/<%=patient._id%>/done?_method=PUT" method="POST">
							<br/>
	    					<button class="positive ui button">DONE/NEXT APPOINTMENT</button>
				</form>

				<form action="/admin/database/<%=patient._id%>?_method=DELETE" method="POST">
					<br/>
					<button class="negative ui button">Delete</button>
				</form>
				<div>
					<br/>
				<a class="ui blue button" href="/admin/database/<%=patient._id%>/edit">edit</a>
				</div>

				<form action="/admin/database/<%=patient._id%>/message?_method=PUT" method="POST">
					<br/>
					<button class="purple ui button">Send SMS</button>
				</form>
			</div>
		<%})%>

<br/>

<a class="ui yellow button" href="/admin/database/new">Create Entry</a>



</div>


<%-include("partials/footer")%>