<%-include("partials/header")%>
<h1 class="text-center container admin">EDIT DETAILS</h1>
<form action="/admin/database/<%=patient._id%>?_method=PUT" method="POST" class= "text-center form-3" >
	<Label for="patient">Patient</Label>
	<input type="text" name="patient[name]"  value=<%=patient.name%> class="form-control form-control-md">
	<label for="doctor">Doctor</label>
	<input type="text" name="patient[docname]"  value=<%=patient.docname%> class="form-control form-control-md">
	<br/>
	<button class="btn btn-success">SUBMIT</button>
</form>
</div>

<%-include("partials/header")%>